[user]
	name = Adil Ansari
	email = ansari.adil20@gmail.com
[push]
	default = simple
[alias]
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/adil/.gitignore
